#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

.rainbow-text-loop{
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: rainbow 5s infinite; 
}

@-webkit-keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: CadetBlue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}

.card {
  padding: 2em;
}

.generalimg {
  width: 400px;
}

.glow-text {
  font-size: 48px;
  font-weight: bold;
  color: white;
  animation: glow-animation 1s infinite alternate;
}

@keyframes glow-animation {
  0% {
      text-shadow: 0 0 5px #fffF00, 0 0 5px #ff0000, 0 0 15px #ff6200, 0 0 20px #ff0000;
  }

  50% {
      text-shadow: 0 0 10px #fffF00, 0 0 10px #ff0000, 0 0 30px #ff6200, 0 0 40px #ff0000;
  }

  100% {
      text-shadow: 0 0 5px #fffF00, 0 0 5px #ff0000, 0 0 15px #ff6200, 0 0 20px #ff0000;
  }
}

.intro {
  font-weight: 800;
}

.button {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  letter-spacing: .1em;
  color: #0ef;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #0ef;
  padding: 10px 30px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
}

.button:hover {
  transition-delay: 0s, 1s;
  color: #fff;
  box-shadow:
      0 0 10px #0ef,
      0 0 20px #0ef,
      0 0 40px #0ef,
      0 0 80px #0ef,
      0 0 160px #0ef;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background: #0ef;
  transform: skewX(35deg);
  z-index: -1;
  transition: 1s;
}

.button:hover:before {
  width: 100%;
}

.top-right {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  border: 2px solid yellow;
}

.logout-link {
  color: #f1eded;
  text-decoration: none;
  font-weight: bold;
}

.logout-link:hover {
  color: #d00909;
}
